.main__name {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: calc(27px + (42 - 27) * ((100vw - 320px) / (1280 - 320)));
  line-height: 1.14;
  margin: 0;
}

@media (max-width:897px){
  .main__name {
    align-self: center;
  }
}

.main__name::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 17px;
  right: -45px;
  background-image: url('../../../images/Edit-Button.svg');
  transition: opacity .6s ease;
  cursor: pointer;
}


.main__name:hover::before {
transition: opacity .5s ease;
opacity: .7;
}

@media (max-width:897px){
  .main__name::before {
    left: 300px;
    top: 10px;
  }
}

@media (max-width:768px){
  .main__name::before {
    left: 250px;
  }
}

@media (max-width:490px){
  .main__name::before {
    left: 200px;
    top: 10px;
  }
}
