.main__personal-page {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

@media (max-width:768px){
  .main__personal-page {
    flex-direction: column;
  }
}

@media (max-width:425px){
  .main__personal-page {
    padding-top: 42px;

  }

}
