.main__about {
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1280 - 320)));
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  padding: 16px 0 0 0;
}

@media (max-width:768px){
  .main__about {
    align-self: center;
  }
}
